@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset + theme */
:root {
  color-scheme: dark;
}

body {
  @apply bg-[#070708] text-white antialiased;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
